name: ARC Runner Smoke Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Who am I
        run: |
          echo "Runner hostname:"
          hostname
          echo
          echo "User:"
          whoami
          echo
          echo "Kernel:"
          uname -a

      - name: Environment variables
        run: |
          env | sort
