name: Deploy to Kubernetes

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: latest

      - name: Show kubectl version
        run: kubectl version --client

      - name: Check cluster access
        run: kubectl get pods -n my

      - name: Nginx Deploy
        run: kubectl apply -f k8s/nginx-deploy.yaml -n my
      
      - name: Service Deploy
        run: kubectl apply -f k8s/service-nodeport.yaml
        
